.input-form {
    display: flex;
    border-radius: 20px;
    background: #fff;
    justify-content: end;
    align-items: center;
    gap: 12px;
  }
  
  .image-form {
    width: 20px;
    height: 20px;
  }
  
  .input-form > input {
    display: flex;
    height: 46px;
    width: 85%;
    border-radius: 20px;
    border: none;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    font-family: "Work Sans", sans-serif;
    color: #2b2b2b;
  }
  
  .input-form > input::placeholder {
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
  }
  