.div-account {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-family: "Work Sans", sans-serif;
  color: #fff;
}

.image-account {
  width: 100%;
  object-fit: cover;
  min-width: 610px;
  height: 691px;
  flex: 1;
}

.form-create-account {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.form-text {
  width: 460px;
  height: 146px;
}

.form-text > h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 20px;
}

.form-text > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.form-style {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 305px;
  gap: 15px;
  margin-top: 40px;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 14px 0;
  border: none;
  border-radius: 20px;
  background: #a259ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s;
}

.button-form:hover {
  transform: scale(95%);
}


