

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

body{
  background: rgba(43, 43, 43, 1);
  
  
}




:link{
  transition: transform 0.3s ease;

}
:link:hover{
  transform: scale(0.9);
  
}

.scale-link-container {
  transition: transform 0.3s ease;
}

.scale-link-container:hover {
  transform: scale(0.9);
}





@media screen and (max-width: 600px) {  /* Tablet */

 
}


@media screen and (max-width: 300px) { /* Mobile */

  
 }
