@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.div-connect{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    gap: 4rem;
}

.CImg{
    max-height: 85vh;
    flex: 1 1 40rem;
    overflow: hidden;
}

.CImg>img{
    height: 100%;
    width: 100%;
  }

.CImg .CImg_mobile{
    display: none;
}

.CContent{
    flex: 1 1 40rem;
    padding: 0rem;
}

.CContent h1{
    margin-top: 5.5rem;
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.CContent p{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

@media(max-width:768px){
    .div-connect{
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .CImg .CImg_mobile{
        display: block;
    }

    .CImg .CImg_desktop{
        display: none;
    }
    .CContent{
        padding: 1.5rem;
    }

    .CContent h1{
        margin-top: 0rem;
        font-size: 2.5rem;
    }

    .CContent p{
        margin: 1.5rem 0;
        font-size: 1rem;
    }

    .just_align{
        display: flex;
        justify-content: center;
    }
}