@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.div-total{
    display: grid;
    place-items: center;
}

.div-home{
    padding-top: 3%;
    display: flex;
    justify-content:space-between;
    width: 85%;

}
.div-trending{
    display: grid;
    width: 85%;
    margin-top: 7%;
}
.div-top-creators{
    display: grid;
    
    width: 85%;
    margin-top: 5%;

}
.div-browse{
    display: flex;
    justify-content: center;
    width: 85%;
    text-align: center;
    border: 1px solid rgb(35, 26, 110); /* Adicione estilos de borda aqui */
    padding: 10px; /* Exemplo adicional para espaçamento interno */



}












