@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.div-home{
    padding-top: 3%;

}
.div-trending{
    align-items: center;
    text-align: center;
    border: 1px solid rgb(109, 107, 124); /* Adicione estilos de borda aqui */
    padding: 10px; /* Exemplo adicional para espaçamento interno */

}
.div-top{
    align-items: center;
    text-align: center;
    border: 1px solid rgb(133, 128, 175); /* Adicione estilos de borda aqui */
    padding: 10px; /* Exemplo adicional para espaçamento interno */

}
.div-browse{
    align-items: center;
    text-align: center;
    border: 1px solid rgb(35, 26, 110); /* Adicione estilos de borda aqui */
    padding: 10px; /* Exemplo adicional para espaçamento interno */

}



.div-home{
margin-top: 5%;
display: flex;
justify-content: space-around;

align-items: flex-start;

}


