.div-marketplace{
    align-items: center;
    text-align: center;
    border: 1px solid rgb(235, 232, 53); /* Adicione estilos de borda aqui */
    padding: 10px; /* Exemplo adicional para espaçamento interno */

}
