.div-marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 80px 115px;
}

.text-headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  gap: 10px;
  width: 100%;
}

.text-headline > h2 {
  font-size: 51px;
}

.text-headline > p {
  font-size: 22px;
}

.searchbar-headline {
  display: flex;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
  height: 60px;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  width: 100%;
}

.searchbar-headline > input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 90%;
  color: #858584;
}

.searchbar-headline > input::placeholder {
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.searchbar-headline > img {
  width: 24px;
  height: 24px;
}

.content-marketplace {
  width: 100%;
}

.navigationbar-content {
  border-top: 1px solid #3b3b3b;
  padding: 10px 115px 0;
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  border: none;
  gap: 16px;
  cursor: pointer;
}

.enabled {
  color: #fff;
  border-bottom: 2px solid #858584;
}

.enabled > .counter-itens {
  background: #858584;
}

.disabled {
  color: #858584;
}

.counter-itens {
  display: flex;
  border-radius: 20px;
  height: 32px;
  padding: 5px 10px;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  align-items: center;
}

.disabled > .counter-itens {
  background: #3b3b3b;
}

.cards-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 107.5px 80px 107.5px;
  background: #3b3b3b;
  border-bottom: 2px solid #2b2b2b;
  gap: 30px;
  flex-wrap: wrap;
}


@media screen and (max-width: 1279px) {
  .headline-marketplace {
    padding: 60px 77px;
  }

  .nav-bar {
    width: 340px;
  }

  .cards-content {
    padding: 60px 72px;
  }

  .navigationbar-content {
    padding: 10px 77px 0;
    font-size: 16px;
  }

  .text-headline > h2 {
    font-size: 38px;
  }

  .text-headline > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 833px) {
  .headline-marketplace {
    padding: 40px 30px;
  }

  .nav-bar {
    width: 340px;
  }

  .cards-content {
    padding: 40px 30px;
    justify-content: center;
  }

  .navigationbar-content {
    padding: 10px 30px 0;
  }

  .text-headline > h2 {
    font-size: 28px;
  }

  .counter-itens {
    display: none;
  }
}
