@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.container_nftPage{
    display: flex;
    gap: 5%;
    padding: 0 13%;
    margin: 3rem 0;

}

.nftPage_counter_mobile{
    display: none;
}

.CImg_desktop{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nftPage_description{
    flex: 1 1 40rem;
}

.nftPage_description h1{
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.nftPage_description p{
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin-top: 1.5rem;
}

.nftPage_description h6{
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    color: #858584;
    margin-top: 2.5rem;
}

.nftPage_description_artist{
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.nftPage_description_artist_container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

.nftPage_description_artist_container:hover{
    transform: scale(0.95);
}

.nftPage_description_artist img{
    width: 1.5rem;
}

.nftPage_description_details{
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.nftPage_description_details_container{
    display: flex;
    align-items: center;
}

.nftPage_description_tags{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}

.nftPage_description_tags p{
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: #3b3b3b;
    border-radius: 30px;
    padding: 1rem 2rem;
    transition: all 0.3s;
}

.nftPage_description_tags p:hover{
    transform: scale(0.95);
}

.nftPage_counter_div{
    text-align: center;
}

.nftPage_counter{
    flex: 1 1 40rem;
    padding: 40px;
    background-color: #3b3b3b;
    border-radius: 20px;
}

.nftPage_counter p{
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.nftPage_counter_counter{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    margin-top: 0.5rem;
}

.nftPage_counter_descrition{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.Nftbutton{
    width: 20rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #A259FF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s;
}

.Nftbutton:hover{
    transform: scale(0.95);
}

.nftPage_counter_mobile{
    display: none;
    padding: 15px;
    background-color: #3b3b3b;
    border-radius: 20px;
}

.nftPage_counter_mobile p{
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.nftPage_counter_counter_mobile{
    display: flex;
    justify-content: space-between;
}

.nftPage_counter_counter_mobile p{
    font-size: 2rem;
    margin-top: 0.5rem;
}

.nftPage_counter_descrition_mobile{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}


@media(max-width:1000px){
    .container_nftPage{
        padding: 0 7%;
    }

    .nftPage_description_tags_div{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:768px){
    .container_nftPage{
        display: flex;
        flex-wrap: wrap;
        padding: 0 3%;
    }

    .nftPage_counter_mobile{
        display: block;
    }

    .nftPage_counter_div{
        display: none;
    }
}   