.div-artist-page-content{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #3b3b3b;
}

.div-artist-page-content-header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.div-artist-page-content-card{
    display: flex;
    flex-direction: column;
    
    
}
