@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.cards-top-container {
  
  display: flex;
  
  margin-top: 5%;
 

  

}

.cards-container-top {
   
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
    
    
  }
  
  .cards-top {
    

    background-color: rgba(59, 59, 59, 1);
    padding: 20px 40px 20px 40px;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
    width: 100%;
    
    
    
    border-radius: 20px;
  
    
  }

  .card-item{
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    

  }

  .card-top-img{
    width: 120px;
    height: 120px;
    

  }
  
  .card-item h5{

    padding-top: 10%;
    font-size: 22px;

  }
  .card-item p{

    padding-top: 10%;
   

  }
  .card-item-label{

    color: rgba(133, 133, 132, 1);


  }

  .card-item-value{
    color: rgba(255, 255, 255, 1);

  }

  .card-index{
   
    width: 20%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
    left: -10px;
   align-items: center;
   
    color: rgba(133, 133, 132, 1);
    padding: 5px;
    border-radius: 50%;
 
    font-size: 16px; /* Ajusta o tamanho da fonte do índice */
    
    background: rgba(43, 43, 43, 1);




  }



  @media screen and (max-width: 768px) {  /* Tablet e Mobile */
  
  
    .cards-container-top :nth-child(n+7) {
      display: none;
    }


    .cards-container-top  {
   
      
       grid-template-columns: repeat(2, 1fr);
     width: 100%;
        
        
      }
      .cards-top{
        
        display: flex;
        padding-left: 0%;
        padding-right: 0%;
        margin-right: 120%;
       

      }

      .card-item{
        width: 100%;
        display: flex;
        
        
        

      }
      .card-top-img{
        width: 80px;
        height: 80px;
        
    
      }

      .card-index{
        width: 30px;
        height: 20px;
       
        top: 5px;
        left: 15px;
      }
     
      .card-top-conteudo{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: start;
        padding-left:10% ;

      }
.card-item h5 {
  width: 100%;
  font-size: 22px;
  

}

.card-item p {
  display: flex;

  width: 100%;
  font-size: 14px;
  gap: 10px;

}

  
  }

  @media screen and (max-width: 425px) { 


    .cards-container-top :nth-child(n+6) {
      display: none;
    }


    .cards-container-top  {
   
      
       grid-template-columns: repeat(1, 4fr);
     width: 100%;
     height: 0px;
        
        
      }

      .cards-top{
        position: relative;
        top:-850px;
      }


  }