@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.cards-browse-container {
    display: flex;
    
    margin-top: 5%;
    align-items:flex-start;
    
  }
  
  .cards-container-browse {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: auto;
    padding-bottom: 20px;
    
     
   
  }
  



 .cards-browse{
  width: 100%;
  display: flex;
  
    align-items: center;
    justify-content: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }
 
  .card-browse-item:hover{
    animation: shake 0.5s ;

  }

  @keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-1px, 0); }
    20%, 40%, 60%, 80% { transform: translate(1px, 0); }
    100% { transform: translate(0, 0); }
  }

.card-browse-item{
 
  display: flex;
  flex-direction: column;
  
  align-items:center;

}
.card-browse-img{
width: 100%;

}

  
  
.card-browse-item h5{
   padding-top: 10%;
    
    
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    padding-bottom: 10%;
    color: rgba(255, 255, 255, 1);


}






@media screen and (max-width: 768px) {  /* Tablet */


  
.card-browse-img{
  max-width: 150px;
}
.card-browse-item h5{
  font-size: 16px;
  
}
.card-browse-item{
  max-width: 250px; /* Reduz a largura máxima do card para acomodar em telas menores */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    }

}


@media screen and (max-width: 425px) { /* Mobile */

  .cards-container-browse {
   
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
        
   
  }
  .card-browse-item h5{
    font-size: 12px;
    
  }


  
 }