@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.Connectbuttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
}

.Cbutton{
    width: 23rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #3B3B3B;
    border-radius: 15px;
    border: 1px solid #A259FF;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s;
}

.Cbutton:hover{
    transform: scale(0.95);
}

@media(max-width:768px){
    .Connectbuttons{
        gap: 1rem;
    }

    .Cbutton{
        width: 20rem;
        gap: 1rem;
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }
    
}