@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.conteudo-home{
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color:rgba(255, 255, 255, 1);
    width: 35%;
    align-items: flex-start;
    text-align: start;
   
    
}


.conteudo-home h1{

  font-size: 67px;
   
    
}
.conteudo-home p{
    margin-top: 5%;
   font-size: 22px;
    
}

.conteudo-home-button{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;

    color:rgba(255, 255, 255, 1);
    margin-top: 5%;
    border: none;
    padding: 0px, 30px, 0px, 30px;
    
    background: rgba(162, 89, 255, 1);
    width: 40%;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

}

.conteudo-home-container{

display: flex;
margin-top: 2%;
width: 100%;

justify-content: space-between;

}

.column{
    margin-top: 5%;
    font-family: 'Space Mono', sans-serif;
    width: 100%;
    align-items: center;

}
.column h4{
    
    font-size: 20px;

}
.column p{
   
    font-size: 17px;

}