@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.cards-top-container-ranking {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.cards-container-top-ranking {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 100%;
}

.cards-top-ranking {
  background-color: rgba(59, 59, 59, 1);

  flex-direction: row;
  border-radius: 5px;
  width: 100%;
  border-radius: 20px;
  text-decoration: none;
}

.card-item-ranking {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.card-top-img-ranking {
  width: 60px;

  transition: transform 0.3s ease;
}

.card-item-ranking h5 {
  font-size: 22px;
}
.card-item-ranking p {
  padding-top: 0%;
}
.card-item-label-ranking {
  color: rgba(133, 133, 132, 1);
}

.card-item-value-ranking {
  color: rgba(255, 255, 255, 1);
}
.card-item-value-ranking-s {
  color: rgba(255, 255, 255, 1);
}
.card-item-value-ranking-c {
  color: #00ac4f;
}

.card-index-ranking {
  width: 6%;
  height: 6%;
  color: rgba(133, 133, 132, 1);
  padding: 5px;
  border-radius: 50%;
  font-size: 16px; /* Ajusta o tamanho da fonte do índice */
  background: rgba(43, 43, 43, 1);
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
}
.rank-avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 34%;
  gap: 10px;
}

.card-top-img-ranking:hover {
  transform: scale(0.9);
}
.rankings-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin-top: 5%;
  border-radius: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;

  color: #858584;
  font-family: "Space Mono", monospace;
}
.rank-header-artisttab {
  margin-right: 30%;
}
.rankings-header span {
  gap: 26px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  /* Tablet */
  .conteudoranktoday-conteudo-div {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 51px;
    margin-top: 100px;
    font-size: 14px;
  }
  .nft {
    display: none;
  }
  .card-item-value-ranking-s {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  /* Mobile */
  .conteudoranktoday-conteudo-div {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
    margin-top: 100px;
    font-size: 14px;
  }
  .cards-container-top-ranking {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 143%;
  }
  .rankings-header span {
    gap: 5px;
    display: flex;
    flex-direction: row;
  }
  .card-item-ranking h5 {
    font-size: 14px;
}
  .nft {
    display: none;
  }
  .change {
    display: none;
  }
  .card-item-value-ranking-s {
    display: none;
  }
  .card-item-value-ranking-c {
    display: none;
  }
}
