


.div-trending-conteudo{
    
    display: flex;
   align-items: flex-start;
    flex-direction: column;
    width: 100%;

    font-family: 'Work Sans', sans-serif;
    
    color:rgba(255, 255, 255, 1);
    

}





.div-trending-conteudo h3{
    
    font-size: 38px;


}
.div-trending-conteudo p{
    padding-top: 2%;
    font-size: 22px;
   
    

}


@media screen and (max-width: 768px) {  /* Tablet */

.div-trending-conteudo h3{
font-size: 22px;

}
.div-trending-conteudo p{
font-size: 16px;

}


}


@media screen and (max-width: 425px) { /* Mobile */



}