@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:wght@500&display=swap');

.container-footer {
    display: flex;
    
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgba(133, 133, 132, 1);
    font-family: 'Space Mono', monospace;
    
  }
  
  .elemento-footer {
   display: flex;
    flex-direction: column;
   text-align: start;
align-items: flex-start;
padding-bottom: 2%;
font-family: 'Work Sans', sans-serif;
  }
  
  

  .elemento-footer p{

    padding-top: 5%;
    width: 60%;
    
    color: rgba(204, 204, 204, 1);

  }

  .elemento-footer div{

    padding-top: 5%;

  }


  .elemento-footer2{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 28%;


  }

  .elemento-footer2 h5{
font-size: 22px;
color: rgba(255, 255, 255, 1);
margin-bottom: 5%;

  }

.div-footer-nav *{
 padding-top: 5%;
display: flex;
flex-direction: column;
align-items: flex-start;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  color: rgba(204, 204, 204, 1);



}



  .elemento-footer3{

    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
width: 28%;

    

  }

  .elemento-footer3 h5{

    font-size: 22px;
color: rgba(255, 255, 255, 1);
margin-bottom: 5%;

  }

  .elemento-footer3 p{
    padding-top: 5%;
    font-family: 'Work Sans', sans-serif;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
  }

  .div-footer-email{

    margin-top: 5%;
    border-radius: 15px;
    background: white;
    
    
  }

  .div-footer-email-imput{
    border-radius: 20px;

    background: white;
    padding: 10px;
    border: none;


  }
  .div-footer-email-button {
    border-radius: 15px;
    width: auto;
    background: rgba(162, 89, 255, 1);
    font-family: 'Work Sans', sans-serif;
    padding: 10px 20px;
    color:rgba(255, 255, 255, 1);
    border: none;
    
    
 
  
  }

  .div-footer-email-button:hover{
 
    transform: skew(-5deg) translateX(-10px);
  }

  .div-footer-email-button:active{
 
    transform: scale(1.2);
  }

  .elemento-footer-icon{
    transition: transform 0.3s ease;
  
  }
  .elemento-footer-icon :hover{
    transform: scale(0.9);
    
  }
  