@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.div-discover-conteudo{

display: flex;
justify-content: space-between;
align-items: flex-end;
font-family: 'Work Sans', sans-serif;
color: white;
}


.div-discover-conteudo-text h3{

    font-size: 38px;
    padding-bottom: 5%;

}

.div-discover-conteudo-text p{

    font-size: 22px;
order: 1;

}




.div-discover-button{

display: flex;
align-items: center;


}

.button-discover{
    padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;

    order: 2;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: center;
      font-family: 'Work Sans', sans-serif;
      color: rgba(255, 255, 255, 1);
      border: 2px solid rgb(133, 128, 175);
      border-radius: 20px;


}



@media screen and (max-width: 768px) {  /* Tablet */

  .div-discover-conteudo-text p{

    font-size: 16px;


}
.div-discover-conteudo-text h3{

  font-size: 28px;


}
.button-discover{

  padding-top: 10px;
  
  padding-bottom: 10px;

}



}


@media screen and (max-width: 425px) { /* Mobile */


  .div-discover-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  .button-discover{

    padding-top: 10px;
    position: relative;
    padding-left: 10px;
    padding-right:10px ;
margin-top: 1600px;
    padding-bottom: 10px;
  
  }


  
 }

 @media screen and (max-width: 375px) { 

  .button-discover{

   
margin-top: 1480px;
 
  
  }


}

@media screen and (max-width: 320px) { 

  .button-discover{

   
    margin-top: 1350px;
     
      
      }


}