@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');



.menu{
margin-top: 2%;
margin-left: 3%;
margin-right: 3%;

}
:link{
  transition: transform 0.3s ease;

}
:link:hover{
  transform: scale(1.2);
  
}

.scale-link-container {
  transition: transform 0.3s ease;
}

.scale-link-container:hover {
  transform: scale(1.2);
}






.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

.right-section li {
  margin-left: 10px;
  
}


.menu a {

    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color:rgba(255, 255, 255, 1);

}
  
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50px;
  }
  
 
  
  a {
    text-decoration: none;
 
    padding: 5px;
  }
  
  .button-menu {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;

    color:rgba(255, 255, 255, 1);
    
    border: none;
    padding: 0px, 30px, 0px, 30px;
    
    background: rgba(162, 89, 255, 1);
    width: 15%;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }

  .icone-menu{
    width: 20px;
    margin: 10px;
  }
  

  @media screen and (max-width: 600px) {  /* Tablet */

 
  }
  
  
  @media screen and (max-width: 300px) { /* Mobile */
  
    
   }