

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

body{
  background: rgba(43, 43, 43, 1);
  
  
}

header{
  margin-top: 2%;
  margin-inline: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

